<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Order status</th>
        <th>Amount</th>
    </tr>
    {% if us %}
        {% for u in us %}
        <tr>
            <td>{{u.user_id.id}}</td>
            <td>{{u.user_id.first_name}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.user_id.email}}</td>
            <td>{{u.order_status}}</td>
            <td>{{u.order_total}}</td>
            <td><a class="btn btn-outline-success" href="{% url 'status_details' u.id %}">Details</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" style="text-align: center;">
                <label style="font-weight: bolder">No data</label>
            </td>
        </tr>  
    {% endif %}

</table>