{% extends 'Head/headbase.html' %}
{% block content %}
<body>    
    <div class="container" style="min-height: 625px;">
            <form action="{% url 'editAction' %}" method="post">
                {% csrf_token %}
            {% for u in us %}
            <div class="row">
                <div class="col-3" style="padding-top: 20px;">
                    <input type="hidden" name="id" value="{{u.id}}">
                    <label for="">Category Name</label>
                </div>
                <div class="col-lg-6" style="padding-top: 20px;">
                    <input type="text" name="category" id="" class="form-control" value="{{u.c_name}}">
                </div> 
            </div> 
                    <div class="row mt-4">
                        <div class=" offset-3 col-3">
                            <button class="btn-outline-dark btn-primary form-control" type="submit">Save</button>  
                        </div>
                        <div class="col-3">
                            <button class="btn-outline-dark btn-primary form-control" type="submit">Back To List</button>
                        </div>
                    </div>
            {% endfor %}
        </form>
    </div>
</body>






{% endblock %}