{% extends 'Head/headbase.html' %}
{% block content %}
<body>
    <div class="container" style="margin-top: 20px;min-height: 625px; ">
        <div class="row">
            <div class="col-3">
                <div style="color: rgb(177, 226, 43);">
                <h4>Material Type List</h4></div>
            </div>
       
            <div class="col-9 text-end">
                <a class="btn btn-info" href="{% url 'material_create' %}">+ Create New Material Type</a>
            </div>
        </div>
<form action="{% url 'add_material' %}">
    {% csrf_token %}
    <div style="margin-top: 20px;">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Material Name</th>
            </tr>
           </thead>
            {% for u in page_obj %}
            <tr>
                <td>{{u.material_type}}</td>
                <td><a class="btn btn-outline-primary" href="{% url 'update_material' u.id %}">Edit</a></td>
                <td><a class="btn btn-outline-primary" href="{% url 'delete_material' u.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
            <div class="pagination">
                {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">First</a>
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-link">{{page_obj.number}}</span>
                {% if page_obj.has_next %}
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last</a>
                 {% endif %}
            </div>
    </div>
</form>
</div>
</body>







{% endblock %}