{% extends 'Head/headbase.html' %}
{% block content %}
<body>
    <div class="container" style="min-height: 625px;">
        <div class="row mt-3">
            <div class="col-3" style="color: chocolate;">
                <h3>Product List</h3>
            </div>
            <div class="col-lg-9 text-end">
                <a class="btn btn-outline-danger" href="{% url 'create_product' %}">+ Create New Product</a>
            </div>
        </div>
      
            <form action="{% url 'create_product' %}">
            {% csrf_token %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
                {% if page_obj %}
        {% for item in page_obj %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.category.c_name}}</td>
                    <td>{{item.description}}</td>
                    <td><a class="btn btn-outline-dark" href="{% url 'update_product' item.id %}">Edit</a></td>
                    <td><a class="btn btn-outline-dark" href="{% url 'delete_product' item.id %}">Delete</a></td>
                </tr>
            </table>
           
                <div class="pagination">
                    {% if page_obj.has_previous %}
                       <a class="page-link" href="?page=1">First</a>
                      <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                     <span class="page-link">{{ page_obj.number }}</span>
                        {% if page_obj.has_next %}
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                       <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last</a>
                        {% endif %}
                </div>

                {% endfor %}
         

        {% else %}
        <h6>No data available</h6>
        {% endif %}
    </form>
    </div>
</body>





{% endblock %}